DATABASE_URL="file:./data/worldcup.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_EMAILS="you@example.com"
ENABLE_TEST_USER_ACTION="false"
WORLD_CUP_SYNC_MATCH_SOURCE="worldcup26"
API_FOOTBALL_API_KEY=""
THE_ODDS_API_KEY=""
THE_ODDS_API_REGIONS="uk"
THE_ODDS_API_BOOKMAKERS=""
THE_ODDS_API_SPORT="soccer_fifa_world_cup_winner"
WORLD_CUP_SYNC_API_FOOTBALL_LEAGUE="1"
WORLD_CUP_SYNC_API_FOOTBALL_SEASON="2026"
